
.Global_Contain_Word {
    display: flex;
    padding: 1vh;
    /* background-color: red; */
    justify-content: space-evenly;
    align-items: center;
}

.right_item{
    background-color:#859DFE;
    height:5vh;
    /* width: 20vh; */
    border-radius: 6px;
    padding: 5px;
    box-shadow: 2px 2px 2px #5473F5;
}

.Name{
    background-color:red;
    height:10vh;
    display: flex;

}