.formulaire{
    min-height:100vh;
    background-color:red;
    min-height: 100vh;
    display: flex;
    background-image: url('/src/assets/background.jpg');
    background-size:165vh;
}

.Container_Form{
    background-color:  #e8daef ;
    width: 80vh;
    height:40vh;
    display: flex;
    justify-content: center;
    margin: auto;
    /* margin-top: 30vh; */
    border-radius: 3vh;
    box-shadow: 2px 2px 2px #864913;
    color: #bc671b;  ;
}
.Contain_Title{
        display: flex;
        flex-direction: column;
        align-content: stretch;
        align-items: center;
}

.Contain_input {
    /* background-color: beige; */
    display: flex;
    justify-content: center;
}


.Contain_button {
    /* background-color: red; */
    height: 10vh;
    display: flex;
    justify-content: center;
}

button {
    margin: 17px;
    font-family: inherit;
    background-color: #bc671b;
    border: none;
    border-radius: 4vh;
    height: 6vh;
    width: 33vh;
    cursor: pointer;
    color: white;
  }

button:hover{
    background-color:  #9b5516 ;
}

input[type=text]{
    border: none;
    border-radius: 3rem;
}